@import 'define-variable.scss';
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(137, 135, 135, 0.5);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    box-shadow: inset 0 0 6px rgb(137, 135, 135);
}

body,
header {
    background-color: $body_bg;
}

header {
    height: 100vh;
    .block.logo {
        max-width: 250px;
    }
    .menu-container {
        // padding-left: 40px;
        .btn-login {
            background-color: white;
            color: $body_bg !important;
            font-weight: bold !important;
            border-radius: 5px !important;
        }
    }
}

.social-container {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-right: $border-separator;
    position: fixed;
    background-color: $body_bg;
    bottom: 0;
    /* height: 100vh; */
    left: 0;
    top: 0;
    i {
        color: white;
        font-size: 25px;
    }
    .info-how {
        position: absolute;
        bottom: 0;
    }
}