$fa-font-path: "fonts/fontawesome/fontawesome-free-5.8.2-web" !default;
$body_bg: #212529;
$black_bg: #1c1e23;
$white: #ffffff;
$brnad_color: #8bb927;
$black: #000000;
$footer-link: #727272;
$border-separator: 1px solid #32373b;
// $spacer: 30px;
// $gray-100: rgba(128, 128, 128, 0.1);
// $gray-200: rgba(128, 128, 128, 0.2);
// $gray-300: rgba(128, 128, 128, 0.3);
// $gray-400: rgba(128, 128, 128, 0.4);
// $gray-500: rgba(128, 128, 128, 0.5);
// $gray-600: rgba(128, 128, 128, 0.6);
// $gray-900: rgba(128, 128, 128, 0.9);
// $danger: rgb(245, 107, 107);
// $brand-width: ;